
.container {
    visibility: hidden;
}

.divUpdate {
    background-color: aqua;
    /*  width: 100px;
    height: 100px;*/
}
/*.containerOfUpdate {
    visibility: hidden;
}*/
progress {
    appearance: auto;
    box-sizing: border-box;
    display: block;
    block-size: 2em;
    inline-size: 21em;
    vertical-align: 6.8em;
}


.hide {
    visibility: hidden;
}

.show {
    visibility: visible;
}

body {
    font-family: Arial, sans-serif;
    background-color: rgb(171 197 197);
    margin: 0;
    /*padding: 20%;*/
    margin: 7%;
}

h1 {
    color: black;
    text-align: center;
}

button {
    background-color: rgb(193 167 187);
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
   /* text-decoration: none;*/
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
/*  transition: background-color 0.3s;*/ 
    width: 338px;
}

    button:hover {
        background-color: rgb(170 130 150);
    }

#background {
    background-color: #fff;
    border: 1px solid #e0e0e0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 350px;
    margin: 20px auto;
}

input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
}

    input:focus {
        border-color: #4b0082;
        
    }

/*#back{
    width:50%;
    height:70%;
    margin-left:auto;
    margin-right:auto;
    background-color:white;
}*/